.App {
  text-align: center;
  transition: background-color 0.5s ease;
}

.App.transitioning {
  background-color: rgba(0, 0, 0, 0.1);
}

.mood-nav {
  margin: 20px;
}

.mood-nav button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mood-nav button:hover {
  background-color: #2980b9;
}

.layout-container {
  transition: opacity 0.5s ease;
}

.layout-container.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.layout-container.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.layout-container.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.layout-container.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
